<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Simple Form using Bootstrap</h2>
        <form>

            <div class="form-group">
                <label for="name">First Name:</label>
                <input type="text" class="form-control" id="name" placeholder="First name here">
            </div>
            
            <div class="form-group">
                <label for="name">Last Name:</label>
                <input type="text" class="form-control" id="name" placeholder="last name here">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
